$font-1: 'Saira', sans-serif;
$font-2: 'Arimo', sans-serif;
$font-3: 'Inter', sans-serif;
$font-4: 'Rubik', sans-serif;
$base-font-size: 10px;

$color-white: #fff;
$color-black: #000000;
$color-black-2:#3F3F3F;
$color-gray-1: #797979;
$color-gray-2: #333333;
$color-gray-3: #292929;
$color-gray-4: #29323F;
$color-gray-5: #6E6E6E;
$color-gray-6: #BABABA;
$color-gray-7: #ECECEC;
$background-color: #f8f8f8;
$color-primary: #44DCC1;