@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Inter&family=Rubik:wght@500&family=Saira:wght@400;500;600;700&display=swap");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

*, *::after, *::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body, input, button, textarea, select {
  font-family: "Saira", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #f8f8f8;
}

.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.bg-white {
  background-color: #fff;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 4rem;
  font-weight: 600;
  color: #29323F;
  line-height: 120%;
  font-family: "Saira", sans-serif;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 5rem;
  }
}
.title--investors {
  font-size: 3.8rem;
  font-weight: 600;
  color: #29323F;
  line-height: 120%;
  font-family: "Saira", sans-serif;
}
.title--feedback {
  text-decoration: underline 1px solid #333333;
  text-underline-offset: 4px;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333333;
  line-height: 17px;
  font-family: "Rubik", sans-serif;
}
@media only screen and (min-width: 768px) {
  .title--feedback {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .title--hiring {
    font-size: 5.6rem;
  }
}

.subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: #6E6E6E;
  line-height: 160%;
  font-family: "Inter", sans-serif;
}
@media only screen and (min-width: 768px) {
  .subtitle {
    font-family: "Arimo";
  }
}
.subtitle--form {
  color: #797979;
}
.subtitle--feedback {
  font-size: 1.8rem;
  font-weight: 400;
  color: #333333;
  line-height: 160%;
  font-family: "Inter", sans-serif;
}
.subtitle--hiring {
  font-size: 1.6rem;
  font-weight: 400;
  color: #797979;
  line-height: 160%;
  font-family: "Inter", sans-serif;
}
@media only screen and (min-width: 768px) {
  .subtitle--hiring {
    font-size: 1.8rem;
  }
}
.subtitle--footer {
  font-size: 1.6rem;
  font-weight: 400;
  color: #797979;
  line-height: 160%;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 111px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .logo {
    width: 167px;
    height: 30px;
  }
}
.logo__image {
  width: 111px;
  height: 20px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .logo__image {
    width: 167px;
    height: 30px;
  }
}
.logo--footer {
  width: 133px;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .logo--footer {
    width: 111px;
    height: 20px;
  }
}
.logo--footer__img {
  width: 133px;
  height: 24px;
}
@media only screen and (min-width: 768px) {
  .logo--footer__img {
    width: 111px;
    height: 20px;
  }
}

.link {
  font-size: 1.4rem;
  font-weight: 500;
  color: #292929;
  line-height: initial;
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  cursor: pointer;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.link:hover {
  color: #44DCC1;
}
@media only screen and (min-width: 768px) {
  .link {
    font-weight: 700;
    font-size: 1.6rem;
  }
}
.link--footer {
  width: 20px;
  height: 20px;
}
.link--footer__icon {
  width: 20px;
  height: 20px;
  fill: #000000;
}
.link--footer__icon:hover {
  fill: #44DCC1;
}
.link--copy {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  line-height: 160%;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
.link--copy:hover {
  color: #44DCC1;
}

.button {
  height: 48px;
  border-radius: 50px;
  background: #292929;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  line-height: initial;
  font-family: "Arimo", sans-serif;
  padding: 0 28px;
  transition-property: background-color border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.button:hover {
  background-color: #44DCC1;
}
.button:focus {
  background-color: #292929;
  border-color: #44DCC1;
}
.button--hiring {
  height: 60px;
  border-radius: 100px;
  font-family: "Inter", sans-serif;
  padding: 0 42px;
}

.arrow-button {
  visibility: hidden;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #292929;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .arrow-button {
    visibility: visible;
  }
}
.arrow-button:hover {
  background-color: #44DCC1;
}
.arrow-button__icon {
  width: 24px;
  height: 24px;
  fill: #fff;
}

.input {
  height: 52px;
  border-radius: 100px;
  padding: 0 24px;
  outline: none;
  background-color: #ECECEC;
  font-size: 1.6rem;
  font-weight: 400;
  color: #292929;
  line-height: initial;
  font-family: "Arimo", sans-serif;
  border: 1px solid transparent;
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.input.placeholder {
  color: #BABABA;
}
.input:-moz-placeholder {
  color: #BABABA;
}
.input::-moz-placeholder {
  color: #BABABA;
}
.input:-ms-input-placeholder {
  color: #BABABA;
}
.input::-webkit-input-placeholder {
  color: #BABABA;
}
.input:hover {
  border-color: #292929;
}
.input:focus {
  border-color: #44DCC1;
}

.form {
  position: relative;
  display: flex;
}
.form__input {
  width: 100%;
}
.form__button {
  position: absolute;
  right: 2px;
  align-self: center;
}

.navigation {
  display: flex;
}
.navigation__link:not(:last-child) {
  margin-right: 31px;
}
@media only screen and (min-width: 768px) {
  .navigation__link:not(:last-child) {
    margin-right: 47px;
  }
}

.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 98px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .header {
    height: 103px;
  }
}

.hero-section {
  min-height: 100vh;
  padding-top: 114px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .hero-section {
    align-items: stretch;
    padding-top: 168px;
    padding-bottom: 80px;
  }
}
.hero-section::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/bg-mobile.png);
  background-position: 30% 0%;
}
@media only screen and (min-width: 768px) {
  .hero-section::after {
    background-image: url(assets/bg-main.png);
    background-position: 40% 0%;
  }
}
@media only screen and (min-width: 860px) {
  .hero-section::after {
    background-position: 50% 0%;
  }
}
@media only screen and (min-width: 1248px) {
  .hero-section::after {
    background-position: top right;
  }
}
@media only screen and (min-width: 768px) {
  .hero-section__content {
    max-width: 420px;
  }
}
.hero-section__title {
  text-align: center;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .hero-section__title {
    text-align: left;
    margin-bottom: 30px;
  }
}
.hero-section__subtitle {
  text-align: center;
  margin-bottom: 26px;
}
@media only screen and (min-width: 768px) {
  .hero-section__subtitle {
    text-align: left;
    margin-bottom: 40px;
  }
}
.hero-section__form {
  margin-bottom: 70px;
}
@media only screen and (min-width: 768px) {
  .hero-section__form {
    margin-bottom: 0px;
  }
}
.hero-section__img-code {
  width: 261px;
  height: 217px;
}
@media only screen and (min-width: 768px) {
  .hero-section__img-code {
    display: none;
  }
}

.investors-section {
  padding-top: 0px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .investors-section {
    padding-top: 10px;
    padding-bottom: 50px;
  }
}
.investors-section__content {
  width: 100%;
}
.investors-section__title {
  margin-bottom: 40px;
}
.investors-section__subtitle {
  margin-bottom: 30px;
}
.investors-section__investors {
  width: 100%;
  display: none;
}
@media only screen and (min-width: 768px) {
  .investors-section__investors {
    display: block;
  }
}
.investors-section__list-first {
  display: none;
}
@media only screen and (min-width: 768px) {
  .investors-section__list-first {
    display: block;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.investors-section__list-second {
  display: none;
}
@media only screen and (min-width: 768px) {
  .investors-section__list-second {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.investors-section__investors-mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
}
@media only screen and (min-width: 768px) {
  .investors-section__investors-mobile {
    display: none;
  }
}
.investors-section__list-first-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .investors-section__list-first-mobile {
    display: none;
  }
}
.investors-section__list-second-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .investors-section__list-second-mobile {
    display: none;
  }
}

.form-section {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .form-section {
    padding-top: 64px;
    padding-bottom: 63px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.form-section__img {
  width: 264px;
  height: 305px;
  width: 100%;
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .form-section__img {
    width: 374px;
    height: 433px;
    margin-bottom: 0px;
  }
}
.form-section__img-svg {
  width: 264px;
  height: 305px;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-section__img-svg {
    width: 374px;
    height: 433px;
  }
}
.form-section__content {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .form-section__content {
    width: 420px;
  }
}
.form-section__title {
  margin-bottom: 30px;
  text-align: center;
}
.form-section__subtitle {
  margin-bottom: 40px;
  text-align: center;
}

.feedback-section {
  padding-top: 126px;
  padding-bottom: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .feedback-section {
    padding-top: 20px;
    padding-bottom: 122px;
  }
}
.feedback-section__content {
  width: 120px;
  margin-bottom: 28px;
}
.feedback-section__img {
  width: 120px;
  height: 116px;
  margin-bottom: 13px;
}
.feedback-section__title {
  text-align: center;
}
.feedback-section__subtitle {
  width: 230px;
  text-align: center;
  position: relative;
}
.feedback-section__subtitle::before, .feedback-section__subtitle::after {
  content: "";
  display: block;
  position: absolute;
  background: url(assets/quotes.svg);
}
.feedback-section__subtitle::before {
  top: -18px;
  left: -18px;
  width: 18px;
  height: 18px;
}
.feedback-section__subtitle::after {
  right: -18px;
  transform: rotate(180deg);
  width: 18px;
  height: 18px;
}
@media only screen and (min-width: 768px) {
  .feedback-section__subtitle {
    width: 830px;
  }
}

.hiring-section {
  padding-top: 157px;
  padding-bottom: 172px;
  position: relative;
}
.hiring-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.hiring-section__title {
  text-align: center;
  margin-bottom: 30px;
}
.hiring-section__subtitle {
  text-align: center;
  margin-bottom: 46px;
}
.hiring-section__item {
  position: absolute;
  width: 85px;
  height: 85px;
}
.hiring-section__item-1 {
  top: 48px;
  left: -20px;
}
@media only screen and (min-width: 768px) {
  .hiring-section__item-1 {
    top: 210px;
    left: 0px;
  }
}
.hiring-section__item-2 {
  top: 483px;
  left: 44px;
}
@media only screen and (min-width: 768px) {
  .hiring-section__item-2 {
    top: 460px;
    left: 190px;
  }
}
.hiring-section__item-3 {
  top: 83px;
  left: 302px;
}
@media only screen and (min-width: 768px) {
  .hiring-section__item-3 {
    top: 155px;
    left: 840px;
  }
}
.hiring-section__item-4 {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hiring-section__item-4 {
    display: inline-block;
    right: 0px;
    bottom: 125px;
  }
}
.hiring-section__item-5 {
  width: 61px;
  height: 61px;
  top: 0px;
  left: 137px;
}
@media only screen and (min-width: 768px) {
  .hiring-section__item-5 {
    top: 110px;
    left: 160px;
  }
}
.hiring-section__item-6 {
  width: 60px;
  height: 60px;
  top: 517px;
  right: 51px;
}
@media only screen and (min-width: 768px) {
  .hiring-section__item-6 {
    top: 395px;
    right: 190px;
  }
}

.green {
  position: relative;
}
.green::after {
  content: "";
  display: block;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(assets/green-line.svg);
  width: 110px;
  height: 5px;
  bottom: -8px;
  left: 0px;
}
@media only screen and (min-width: 768px) {
  .green::after {
    width: 130px;
    height: 5px;
    bottom: -8px;
    left: -5px;
  }
}

.footer {
  padding-top: 68px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 43px;
    padding-bottom: 40px;
  }
}
.footer__social {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .footer__logo {
    margin-right: auto;
  }
}
.footer__link {
  display: none;
}
@media only screen and (min-width: 768px) {
  .footer__link {
    display: inline-block;
  }
}
.footer__link:not(:last-child) {
  margin-right: 34px;
}
.footer__divider {
  display: none;
  margin-bottom: 0px;
}
@media only screen and (min-width: 768px) {
  .footer__divider {
    width: 100%;
    height: 1px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
    background-color: #000000;
    margin-bottom: 80px;
  }
}
.footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .footer__copy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.footer__copy-text {
  display: none;
  margin-right: 0px;
}
@media only screen and (min-width: 768px) {
  .footer__copy-text {
    display: inline-block;
    margin-right: auto;
  }
}
.footer__copy-link:not(:last-child) {
  margin-right: 0px;
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .footer__copy-link:not(:last-child) {
    margin-right: 56px;
    margin-bottom: 0px;
  }
}
.footer__mobile-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 34px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .footer__mobile-social {
    display: none;
  }
}
.footer__mobile-didvider {
  width: 100%;
  height: 1px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  margin: 0px 0px 24px 0px;
  padding: 0px;
  background-color: #3F3F3F;
}
@media only screen and (min-width: 768px) {
  .footer__mobile-didvider {
    display: none;
  }
}
.footer__mobile-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media only screen and (min-width: 768px) {
  .footer__mobile-copy {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
